* {
    font-family:'Times New Roman', Times, serif;
}
h1 {
    
    background-color: yellow;
    font-weight: 800;
    text-align: center;
    padding: 16px;
    display: block;
}
h2 {
    background-color: greenyellow;
    font-weight: 700;
}
ol, ul {
    background-color: darkorchid;
    font-weight: 500;
}
li {
    background-color: lavender;
}