* {
    font-family:'Times New Roman', Times, serif;
}
h1 {
    background-color: yellow;
    font-weight: 800px;
}
h2 {
    background-color: greenyellow;
    font-weight: 700px;
}
ol, ul {
    background-color: darkorchid;
    font-weight: 500px;
}
li {
    background-color: lavender;
}